HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


# Kafka SSL Certificates
src/main/resources/kafka-certs/*.p12
src/main/resources/kafka-certs/*.jks
src/main/resources/kafka-certs/*.key
src/main/resources/kafka-certs/*.cert
src/main/resources/kafka-certs/*.pem

# Можно коммитить только README
!src/main/resources/kafka-certs/README.md


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### environments ###
.env
